{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}


<div class="container">
    <h1>Courses</h1>
    <ul>
        {% for course in courses %}
            <li>{{ course.id }}--{{ course.courseName }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
