{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron" style="margin-top: 5%;margin-left: 10%;background-color: rgba(208,224,224,0.37)">
        <div class="container">
            <h1 class="display-1">Hello !</h1>
            <p> Here you can manage Teachers and Courses .</p>
        </div>
    </div>

{% endblock %}
