<div class="container">
{{ form_start(form) }}
    <div class="col-md-6">{{ form_widget(form) }}</div>
    <button class="btn btn-outline-primary"
            style="margin-bottom: 2% ;margin-top: 1%">
       {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
